body{
background-color: rgb(121, 121, 121);
    background-image: url(https://www.turismodeobservacion.com/media/fotografias/familia-de-nutrias-395-xl.jpg);
    background-size: cover;
}
.postal{
    color: beige;
    font-size: 60px;
padding: 40px;
border: darkorange;
text-align: center;
margin: 20%;
font-family: 'Lucida Sans';
   width: auto;
    margin: 10%;
    height: 70%;
    border: 10%;
    outline: 18px ridge; border-radius: 3rem; margin-top: 100px; 
    position:absolute;
    display: flex;
    left: 40px;
    right: 40px;
}
/* Estilos base para la pantalla más pequeña */
body {
  font-size: 16px;
}

/* Estilos para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Estilos para pantallas grandes (por ejemplo, desktops) */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

/* Puedes agregar más rangos de ancho de pantalla si lo necesitas */
@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

